.nav-tabs>li.active>a { color: #f38b3c; }

.nav-tabs>li.active>a:hover {}

.nav-tabs>li.active>a:focus {}

.nav-tabs>li>a { color: #777; }

.nav-tabs>li>a:hover { color: #f38b3c; }

.pex-header { color: #777; }

.pex-text { font-size: 14px; font-family: sans-serif; color: #777; text-align:center; }

.pex-footer {
    font-size: 14px; font-family: sans-serif; color: #777; text-align:center;
    border-bottom: 1px solid #f38b3c; padding-bottom: 5px;
    border-top: 1px solid #f38b3c; padding-top: 5px;
}

.pex-footer>a { color: #777; }

p>img { padding-top: 10px; vertical-align: top}